<div 
    class="card option"
    >

    <div 
        class="card-header"
        (click)="showDetails = !showDetails">

        <span> 
            <i class="material-icons icon">
                <span *ngIf="file.status == 'firebase'">cloud</span>
                <span *ngIf="file.status == 'firebase-local'">settings_system_daydream</span>
                <span *ngIf="file.status == 'local'">computer</span>
            </i>
            <b>{{file.filename}}</b>
        </span>
        <span [hidden]="!showDetails"> ({{file.mimetype}}) </span>
        <div [hidden]="!showDetails" class="row">
            <div class="col">
                <small>{{file.uploadedTime | date:'medium'}}</small>
            </div>
        </div>
        
        
    </div>
    <div
        class="card-body p-2 animated fadeIn"
        [hidden]="!showDetails">
        <div class="row">
            <div class="col">
                <audio controls>
                    <source 
                        [src]="file | mediaFileSrc"
                        [type]="file.mimetype">
                </audio>
            </div>
            <div class="col">
                
                <button 
                    class="btn ml-1 btn-sm btn-outline-danger float-right"
                    (click)="delete()"
                    >Eliminar</button>

                <button
                    *ngIf="file.status == 'local' || file.status == 'firebase-local'"
                    class="btn ml-1 btn-sm btn-outline-info float-right"
                    (click)="select()"
                    >Usar</button>
                <button
                    *ngIf="file.status == 'local'"
                    class="btn btn-sm btn-outline-secondary float-right"
                    (click)="upload()"
                    >Subir</button>
                
                <button
                    *ngIf="file.status == 'firebase'"
                    class="btn btn-sm btn-outline-warning float-right"
                    (click)="download()"
                    >Descargar</button>

                
            </div>
        </div>

        

        
    </div>

</div>