<div class="optionFilter">
    
    <div class="data">
        <span>{{model.key}} : </span>
        
        <input 
            *ngIf="model.definition.type == 'range'"
            type="number" 
            class="number"
            [min]="model.definition.range.min" 
            [max]="model.definition.range.max"
            [(ngModel)]="model.value"
            (change)="dataChanged()"
            [disabled]="!model.editable"
            [ngClass]="{'text-muted': !model.editable}"
            step="0.1">


        <select
            *ngIf="model.definition.type == 'options'"
            (change)="dataChanged()"
            [disabled]="!model.editable"
            [ngClass]="{'text-muted': !model.editable}"
            [(ngModel)]="model.value">

            <option 
                [value]="item" 
                *ngFor="let item of model.definition.options">
                {{item}}
            </option>

        </select>
    </div>
    
    
    <input 
        *ngIf="model.definition.type == 'range' && model.editable"
        type="range" 
        class="custom-range range slider" 
        [min]="model.definition.range.min" 
        [max]="model.definition.range.max" 
        [(ngModel)]="model.value"
        step="0.01"
        (change)="dataChanged()"
        id="range">
        
    <hr>
</div>