<div class="container mt-4 mb-5 pb-4 animated fadeIn fast">

  <a [routerLink]="[ '/filters' ]" class="badge badge-primary" (click)="saveAndExit()"> <b></b> Atrás</a>


      <h1 class="mt-2" >
        <input type="text" [(ngModel)]="filter.name">
      </h1>
      <span>{{filter.id}}</span>
 

  <hr>
  <div class="breadcrumb option animated fadeIn">
      <p class="m-0"> Etiqueta: <b>
        <input type="text" [(ngModel)]="filter.label">
      </b></p>
  </div>

  <div class="card option animated fadeIn fast" >
      <div class="card-body">
          <h3>Descripción</h3>
          <span >
              <textarea type="text" [(ngModel)]="filter.description">  </textarea>
          </span>
      </div>
  </div>

    <h2 class="mt-4">Parámetros</h2>
    <hr class="m-0">
    <table >
      <thead class="thead-dark">
        <tr>
          <th scope="col">Llave</th>
          <th scope="col">Valor</th>
          <th scope="col">Rango / Opción</th>
          <th scope="col">Editable</th>
          <th scope="col">-</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let param of filter.default_params; let i=index" 
          class="option"
          >
          <th scope="row"> <input type="text" [(ngModel)]="param.key"> </th>

          <td> 
            <input
              *ngIf="param.definition.type == 'range'"
              type="number"
              [min]="param.definition.range.min" 
              [max]="param.definition.range.max"
              step="0.1"
              [(ngModel)]="param.value"> 

              <select
                  *ngIf="param.definition.type == 'options'"
                  [(ngModel)]="param.value">
                  class=""

                  <option 
                      [value]="item" 
                      *ngFor="let item of param.definition.options">
                      {{item}}
                  </option>

              </select>
          </td>

          <td class="range-options">
            <app-param-option [inputData]="param.definition" (dataChanged)="paramsDataChanged($event, i)"></app-param-option>
          </td>

          <td> <input type="checkbox" [(ngModel)]="param.editable"></td>

          <td class="p-2">
            <button class="btn btn-outline-danger btn-block btn-sm" (click)="delParam(i)">Delete</button>
          </td>
        </tr>
        <tr class="option" (click)="addParam()">
          <th scope="row" colspan="5">Añadir parámetro</th>
          
        </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-danger col-3 float-right" (click)="delConfirm = true">Eliminar</button>
    <button class="btn btn-danger col-3 float-right mr-2" (click)="delFilter()" (mouseover)="delSure()" [hidden]="!delConfirm"> {{delConfirmText}}</button>

    <hr>
    <app-json-preview [data]="filter"></app-json-preview>
</div>