
<div 
class="card option animated fadeIn"
(mouseleave)="changeHover(false)"
>

    <div class="card-header">

        <div class="row">
            <div 
                class="col col-8"
                (mouseenter)="changeHover(true)"
                >

                <input 
                    type="text" 
                    [(ngModel)]="filterParams.name" 
                    class="m-0"
                    [ngClass]="{'text-muted': filterParams.options.muted}">

                <small [hidden]="!hover">
                    <select
                        (change)="filterIdChanged()"
                        [(ngModel)]="filterParams.id">

                        <option 
                            *ngFor="let filters of filters"
                            [value]="filters.id" >
                            {{filters.name}}
                        </option>

                    </select>
                </small>
            </div>
            <div class="col col-4">

                <div class="row">
                    <div class="col text-right">

                        <button 
                            class="btn btn-sm btn-main"
                            [ngClass]="{ 'btn-outline-info': hoverAuto, 'btn-info': !hoverAuto }"
                            (click)="hoverAuto = !hoverAuto">P</button>

                        <button 
                            class="btn btn-sm btn-main"
                            [ngClass]="{ 
                                'btn-outline-warning': !filterParams.options.muted, 
                                'btn-warning': filterParams.options.muted 
                            }"
                            (click)="filterParams.options.muted = !filterParams.options.muted"
                            >M</button>
                    </div>
                </div>

                <div class="row" [hidden]="!hover">
                    <div class="col text-right">
                        <button 
                            class="btn btn-outline-danger btn-sm btn-xs"
                            (click)="delete()">x</button>
                        
                    </div>
                </div>

            </div>

        </div>
        
    </div>

    <div class=" animated fadeIn card-body fast pt-2 pb-2" [hidden]="!hover">
        <!--h5 class="card-title">Special title treatment</!--h5-->

        <span class="card-text">
            <input type="text" [(ngModel)]="filterParams.comment" class="m-0 w-100">
        </span>
        <hr>

        <div *ngFor="let param of filter.default_params" class="ml-3">
            <app-input-field 
                [model]="param"
                (modelChange)="changeInputField($event)"
                ></app-input-field>

        </div>

    </div>
    <!--
    <div class=" animated fadeIn card-footer text-muted" [hidden]="!hover">
        <button class="btn btn-danger btn-sm float-right ">X</button>
    </div>
    -->
</div>
