
<div 
class="card option animated fadeIn"
(mouseenter)="changeHover(true)"
(mouseleave)="changeHover(false)"
>

    <div class="card-header">

        <div class="row">
            <div class="col col-6">
                <input type="text" [(ngModel)]="filterParams.name" class="m-0 ">
                <small [hidden]="!hover">
                    <select
                        (change)="filterIdChanged()"
                        [(ngModel)]="filterParams.id">

                        <option 
                            *ngFor="let filters of filters"
                            [value]="filters.id" >
                            {{filters.name}}
                        </option>

                    </select>
                </small>
            </div>
            <div class="col col-6">
                <button 
                    class="btn btn-sm float-right"
                    [ngClass]="{
                        'btn-outline-warning': hoverAuto,
                        'btn-warning': !hoverAuto
                    }"
                    (click)="hoverAuto = !hoverAuto">O</button>
            </div>

        </div>
        
    </div>

    <div class=" animated fadeIn card-body fast pt-2 pb-2" [hidden]="!hover">
        <!--h5 class="card-title">Special title treatment</!--h5-->

        <span class="card-text">
            <input type="text" [(ngModel)]="filterParams.comment" class="m-0 w-100">
        </span>
        <hr>

        <div *ngFor="let param of filter.default_params" class="ml-3">
            <app-input-field 
                [model]="param"
                (modelChange)="changeInputField($event)"
                ></app-input-field>

        </div>

    </div>
    <!--
    <div class=" animated fadeIn card-footer text-muted" [hidden]="!hover">
        <span>{{filterParams.id}}</span>
        <button class="btn btn-danger btn-sm float-right" [hidden]="!hover">Delete</button>
    </div>
    -->
</div>
