<div class="container mt-5 mb-5">

    <h1>Filtros</h1>
    <hr>
    <div>
        
        <div 
        *ngFor="let filter of filters"
        class="card animated fadeIn fast mb-2 option" 
        (click)="gotoFilter(filter)">
            <div class="card-header">
              {{filter.name}}
            </div>
            <div class="card-body">
              <h6 class="card-title animated fadeIn"> {{filter.description}} </h6>
              <p class="card-text"> {{filter.label}} </p>
              <!--a href="#" class="btn btn-primary">Go somewhere</!--a-->
            </div>
          </div>
    

    </div>

</div>