<div class="filterChainPage m-5 animated fadeIn fast">
    <a 
        [routerLink]="[ '/filterChainsManager' ]" 
        class="badge badge-primary mb-3"
        (click)="save()"> <b></b> Atrás</a>

    <div class="jumbotron p-5">
        <h1> <input type="text" [(ngModel)]="chain.name"> </h1>
        <p> {{chain.id}} </p>
        <div class="categories">
            <app-badge
                *ngFor="let category of chain.categories; let i=index"
                [text]="category"
                (delete)="categoryDeleted(i)"
                (textChange)="categoryChanged($event, i)"></app-badge>
            <app-badge
                class="option hoverOpacity-50-100"
                color="info"
                [editable]="false"
                (click)="addCategory()"
                text="nuevo"></app-badge>
        </div>
        <textarea [(ngModel)]="chain.description"></textarea>
    </div>

    <h1>Filtros:</h1>
    <hr>
    <div class="row mb-2">
        <div class="col col-12 tool-bar">
            <div class="card p-0">
                <div class="card-body p-2">

                    <button 
                        class="btn btn-outline-info btn-sm"
                        (click)="show.filtersPanel = !show.filtersPanel"
                        >Filtros</button>

                    <button
                        class="btn btn-outline-info btn-sm ml-2 float-right"
                        (click)="showStorage()"
                        >Almacenamiento</button>
                    <button 
                        class="btn btn-outline-primary btn-sm ml-2 float-right"
                        (click)="process()"
                        >Procesar</button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div 
            class="container col col-4"
            [hidden]="!show.filtersPanel">

            <app-chain-filter
                *ngFor="let filter of chain.filters; let i=index"
                [filterParams]="filter"
                (filterParamsChange)="filterChanged(filter, i)"
                (deleteFilter)="deleteFilter(i)"
            ></app-chain-filter>

            <div class="w-100 text-center p-3" *ngIf="chain.filters.length == 0">
                <p> ora que pedo tu cabrón, que haces una cadena de filtros sin filtros, órale, a poner filtros hijuesuprogenitora</p>
            </div>

            <button 
                class="btn btn-outline-warning btn-block mt-1"
                (click)="newFIlter()">Add</button>
    
        </div>
        <div class="col">

            <app-media-visualizer
                *ngFor="let mediaTest of testMedia; let i=index"
                [media]="mediaTest"
                (delete)="deleteMediaTest(i)"
            ></app-media-visualizer>

        </div>
    </div>
    
    <hr>
    <div class="row" *ngIf="chain.filterComplexLine">
        <div class="col">
            <h2>Filter Complex</h2>
            <pre class="overflow-auto w-100">{{chain.filterComplexLine | filterComplexPreview}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-json-preview [data]="chain"></app-json-preview>
        </div>
        
    </div>
    
</div>