.card-body{
    background-color: var(--gray-dark);
    overflow: auto;
}

.timelineContainer{
  display: flex;
}
.outerContainer{
    height: 10rem;
    overflow-x: overlay;
    overflow-y: hidden;
    background-color: rgb(0,0,0,0.1);
}

input.ZoomRangeY{
  -webkit-appearance: slider-vertical;
  appearance: slider-vertical;
  height: 10rem;
  width: 5px;
  background: rgb(0,0,0,0.3);
  outline: none;
  
}

.audioVisualizer img,.innerContainer{
    height: inherit;
    width: 100%;
    position: relative;
}
audio{
    width: 100%;
}

label.btn{
  line-height: 0.8rem;
}

.moreButton{
  line-height: 0rem;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}

input.timelineBar{
    position: absolute;
    width: 100%;
}


.timelineBar.shape{
  z-index: 3;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: rgb(0,0,0,0.3); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

}

.timelineBar.shape::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 3px; /* Set a specific slider handle width */
  height: 3px; /* Slider handle height */
  background: var(--white); /* Green background */
  cursor: pointer; /* Cursor on hover */
}



.timelineBar.line{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 100%;
  outline: none; /* Remove outline */
  z-index: 2;
}
.timelineBar.line::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 3px; /* Set a specific slider handle width */
  height: 10rem; /* Slider handle height */
  background: rgb(0,0,0,0.2); /* Green background */
  cursor: pointer; /* Cursor on hover */
}



/* SCROLL BARS */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(0,0,0,0.1); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0,0,0,0.2); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0,0,0,0.3); 
  }


.output-visualizer{
  height: 15rem;
}