<div class="card">
    <button 
        class="btn btn-sm btn-outline-danger p-1 moreButton hoverOpacity-50-100"
        (click)="deleteVisualMedia()">x</button>
    
    <div class="card-body">

        <div 
            class="audioVisualizer"
            *ngIf="metadata.visualOriginal">

            <div class="d-flex">
                <div class="w-75">
                    <span><b>{{media.filename}} </b></span>
                </div>

                <div class="btn-group btn-group-toggle hoverOpacity-50-100">
                    <label class="btn btn-sm p-1 btn-outline-info">
                      <input type="radio" (click)="mode='filter'" > Filtro
                    </label>
                    <label class="btn btn-sm p-1 btn-outline-info">
                      <input type="radio" (click)="mode='bypass'" > ByPass
                    </label>
                  </div>

                <input 
                    class="hoverOpacity w-25"
                    type="range"
                    min="100"
                    max="500"
                    [(ngModel)]="visualizerZoomX">

            </div>

            <div class="row">       
                <div class="col timelineContainer">
                    
                    <div class="outerContainer">

                        <div
                        class="innerContainer"
                        [style]="'width:'+visualizerZoomX+'%'">

                            <input 
                                class="timelineBar line"
                                type="range"
                                [min]="0"
                                [max]="audioController.duration"
                                [(ngModel)]="metadata.time"
                                step="0.01"
                                (change)="timeUpdate(0)">

                                <input 
                                class="timelineBar shape"
                                type="range"
                                [min]="0"
                                [max]="audioController.duration"
                                [(ngModel)]="metadata.time"
                                step="0.01"
                                (change)="timeUpdate(0)">

                            <img 
                            [src]="(mode == 'filter' && media.processed)? media.processed.localProcessedWaveform:metadata.visualOriginal"
                            [style]="'transform: scaleY('+visualizerZoomY+')'">>
                        </div>

                    </div>

                    <input 
                        class="ZoomRangeY hoverOpacity"
                        type="range"
                        min="1"
                        max="3"
                        step="0.01"
                        [(ngModel)]="visualizerZoomY">
                </div>   
            </div>        

        </div>

        <audio 
            controls 
            #audioController
            (load)="loaded()"
            (timeupdate)="timeUpdate(1)">

            <source 
                [src]="mediaPath" 
                [type]="media.mimetype">
          </audio>

          
          <audio 
            [hidden]="!(media.processed && media.processed.localProcessedUrl)"
            controls 
            #audioController2
            (load)="loaded()"
            (timeupdate)="timeUpdate(2)">

            <source
                *ngIf="media.processed"
                [src]="media.processed.localProcessedUrl" 
                [type]="media.mimetype">
            </audio>
        
            <div>
                <button
                    class="btn btn-sm"
                    [ngClass]="{
                        'btn-outline-info': !showOutput,
                        'btn-info': showOutput
                    }"
                    [hidden]="!(media.processed && media.processed.output)"
                    (click)="showOutput = !showOutput"
                    >Output</button>
                <pre
                class="overflow-auto output-visualizer"
                *ngIf="media.processed && media.processed.output && showOutput">{{media.processed.output}}</pre>
            </div>

    </div>
    
    
</div>