<div class="card">
    
    <div class="card-body">

        <div 
            class="audioVisualizer"
            *ngIf="media.visualOriginal">

            <div class="d-flex">
                <div class="w-75">
                    <span><b>{{media.src}}</b></span>
                </div>

                <span>{{test}}</span>
                <div class="btn-group btn-group-toggle hoverOpacity-50-100" data-toggle="buttons">
                    <label class="btn btn-sm p-1 btn-outline-info">
                      <input type="radio" (click)="test='a'" > Filtro
                    </label>
                    <label class="btn btn-sm p-1 btn-outline-info">
                      <input type="radio" (click)="test='b'" > ByPass
                    </label>
                  </div>

                <input 
                    class="hoverOpacity w-25"
                    type="range"
                    min="100"
                    max="500"
                    [(ngModel)]="visualizerZoomX">

            </div>

            <div class="row">       
                <div class="col timelineContainer">
                    
                    <div class="outerContainer">

                        <div
                        class="innerContainer"
                        [style]="'width:'+visualizerZoomX+'%'">

                            <input 
                                class="timelineBar line"
                                type="range"
                                [min]="0"
                                [max]="audioController.duration"
                                [(ngModel)]="media.time"
                                step="0.01"
                                (change)="timeUpdateFromBar()">

                                <input 
                                class="timelineBar shape"
                                type="range"
                                [min]="0"
                                [max]="audioController.duration"
                                [(ngModel)]="media.time"
                                step="0.01"
                                (change)="timeUpdateFromBar()">

                            <img 
                            [src]="media.visualOriginal"
                            [style]="'transform: scaleY('+visualizerZoomY+')'">>

                            <img 
                            [src]="media.visualProcessed"
                            [style]="'transform: scaleY('+visualizerZoomY+')'">>
                        </div>

                    </div>

                    <input 
                        class="ZoomRangeY hoverOpacity"
                        type="range"
                        min="1"
                        max="3"
                        step="0.01"
                        [(ngModel)]="visualizerZoomY">
                </div>   
            </div>
        

        </div>

        <audio 
            controls 
            #audioController
            (load)="loaded()"
            (timeupdate)="timeUpdate()">

            <source 
                [src]="media.src" 
                [type]="media.type">
          </audio>
        

    </div>
    
</div>