/* You can add global styles to this file, and also import other style files */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }



.option {
    transition: all 0.2s ease-in-out;
}

.option:hover  {
    transform: scale(1.01);
    cursor: pointer;    
}


tr.option:hover {
  background-color: rgba(255, 255, 255, 0.041);
  
}

input, textarea, select {
  background-color: transparent;
  margin: 0px;
  border: none;
  width: 100%;
  color: var(--light);
}

option{
  background-color: var(--dark);
}

.breadcrumb input{
  width: fit-content;
  margin-bottom: unset;
}

table input, textarea {
  width: 100%
}

.hoverOpacity{
  opacity: 0.1;
  transition: opacity .5s ease-in-out;
}

.hoverOpacity:hover{
  opacity: 0.5;
}

.btn-xs{
  padding: .25rem .4rem;
  line-height: 2;
  font-size: 0.4rem;
  height: min-content;
}